<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:context="http://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration-4.3.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

<!-- to expose @ManagedResource for JMX monitoring and component 
we need  to expose ManagedAtrribe and ManagedOperation this can done using this tag-->
 <context:mbean-export/>
 <context:component-scan base-package="com.example.demo"></context:component-scan>
 <int:channel id="controlChannel"></int:channel>
 <int:channel id="msgChannelAdapterOutput">
 	<int:queue/>
 </int:channel>
 
 <int:control-bus input-channel="controlChannel"></int:control-bus>
 <int:inbound-channel-adapter id="inboundAdapter" channel="msgChannelAdapterOutput"
                              expression="'this is the test message'" auto-startup="false">
  <int:poller fixed-rate="1000"></int:poller>
 </int:inbound-channel-adapter>
 
 <bean id="managedCounterBean" class="com.example.demo.ManagedCounterBean"></bean>
</beans>