<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xmlns:int="http://www.springframework.org/schema/integration"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   
http://www.springframework.org/schema/integration  http://www.springframework.org/schema/integration/spring-integration.xsd">  

<int:channel id="inputChannel"/>
<int:channel id="outputChannel">
	<int:queue capacity="10"/>
</int:channel>

<bean id="helloService" class="com.example.demo.HelloService">
	<constructor-arg type="java.lang.String" value="Gopala Krishnan"/>
</bean>

<int:gateway default-request-channel="inputChannel" 
             default-reply-channel="outputChannel"  
             service-interface="com.example.demo.Greetings" />
             
<int:service-activator input-channel="inputChannel" 
                       output-channel="outputChannel" 
                       ref="helloService" method="greet"/>            
             
</beans>